.seccion-portafolio {
    width: 100%;
    padding-bottom: 80px;
  }
  
  .seccion-portafolio .tit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  
  .seccion-portafolio .tit div {
    width: 100%;
  }
  
  .seccion-portafolio .tit div h1 {
    font-size: 280%;
    margin: 0;
    font-weight: bold;
    padding: 10px 0px;
  }
  
  .seccion-portafolio .tit div p {
    margin: 0;
    padding: 0;
    font-size: 120%;
  }
  
  .seccion-portafolio .div-portafolio {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio {
    width: 400px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden !important;
    position: relative;
    background-color: var(--secondary);
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio .text {
    width: 100%;
    padding: 1em 0;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio .text h1 {
    font-size: 20px;
    color: var(--blanco);
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio .text p {
    color: var(--blanco);
    font-size: 16px !important;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio .text p span {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio:hover .text {
    width: 100%;
    -webkit-transition: all .4s;
    transition: all .4s;
    height: inherit;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio:focus .text {
    width: 100%;
    height: inherit;
    -webkit-transition: all .4s;
    transition: all .4s;
    height: inherit;
    background-color: var(--borde);
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio div {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio div img {
    width: 100% !important;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .seccion-portafolio .div-portafolio .tarjt-portafolio .d-vermas {
    width: 100%;
  }
  .boton-2{
  padding: 10px 30px;
  background:var(--primary);
  margin: 10px 0px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--blanco) !important;
  font-weight: 400;
  font-size: 16px !important;
  border: 2px solid var(--borde);
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 2px var(--primary);
  box-shadow: 0px 2px 2px var(--primary);
  }
  /*============================== footer================================== */
  
  
  footer {
    width: 100%;
    background-color:  var(--secondary);
  }
  
  footer hr {
    width:100%;
    
    color: var(--blanco);
  }
  
  footer .divFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  footer .divFooter div {
    padding: 10px 0px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  footer .divFooter div p {
    color: white;
  
  }
  
  footer .divFooter div a {
    text-decoration: none;
      }
  
  .lg-1 {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  }      
  
  .lg-2{
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  }  
  
  .lg-3{
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  }
  
  .lg-4{
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  }